.custom-orange-btn{
    background-color: #E76F51;
}

.custom-top-banner{
    background-color: #264653;
    height: 698px;
}

.custom-orange-text{
    color: #E76F51;
}

.featured-bikes-images{
    width: 288px;
    height:243px;
}

.grayscale{
    filter: grayscale(100);
}

.user-circle-photos{
    width: 149px;
}

.fa-star{
    color: #E77C40;
}

.regina-miles-color{
    color: #23A6F0;
}

.facebook-icon{
    font-size: 80px;
}

.instagram-icon{
    font-size: 80px;
    color: orangered;
}

.twitter-icon{
    font-size: 80px;
}

