.custom-orange-btn{
    background-color: #E76F51;
}

.custom-top-banner{
    background-color: #264653;
    height: 698px;
}

.custom-orange-text{
    color: #E76F51;
}

.grayscale{
    filter: grayscale(100);
}